#:schema node_modules/wrangler/config-schema.json
name = "standard-electric"
compatibility_date = "2025-01-05"
compatibility_flags = ["nodejs_compat"]

main = "./dist/index.js"
assets = { directory = "./public" }

[vars]
NODE_ENV = "development"
WEB_HOST = "localhost:8787"
ACTOR_KIT_HOST = "your-actor-kit-host.example.com"

[[kv_namespaces]]
binding = "KV_STORAGE"
id = "YOUR_KV_STORAGE_ID"
preview_id = "YOUR_KV_STORAGE_PREVIEW_ID"

[observability]
enabled = true

[[durable_objects.bindings]]
name = "REMIX"
class_name = "Remix"

[[durable_objects.bindings]]
name = "GAME"
class_name = "Game"

[[migrations]]
tag = "v1"
new_classes = ["Remix", "Game"]
